<form action="/course/add" method="post">
    <p>
        <label>Course Name</label><input value="" name="courseName"/>
        <label>Course Duration</label><input value="" name="courseDuration"/>
        <label>Course Fees</label><input value="" name="courseFees"/>
        <button type="submit">Add Course</button>
    </p>
</form>