<h1>
    Courses
</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{#each data}}
    <tr>
        <th>{{this.courseId}}</th>
        <th>{{this.courseName}}</th>
    </tr>
    {{/each}}
</table>